{% extends "../base.html" %}
{% load i18n %}

{% block sidebar %}
{% with page=1 %}
{{ block.super }}
{% endwith %}
{% endblock %}

{% block content %}
<div class="content p-3">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">{% trans "organization.summary" %}</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <tbody>
            <tr>
              <td style="width: 40%;">{% trans "organization.name" %}:</td>
              <th>{{organization.name}}</th>
            </tr>
            <tr>
              <td>{% trans "number.of.users" %}:</td>
              <th>{{users|length}}</th>
            </tr>
            <tr>
              <td>{% trans "admin.name" %}:</td>
              <th>{{tenantAdmin.fullname}}</th>
            </tr>
            <tr>
              <td>{% trans "admin.email" %}:</td>
              <th>{{tenantAdmin.email}}</span></th>
            </tr>
            <tr>
              <td>{% trans "number.of.registered.devices" %}:</td>
              <th>{{devices|length}}</th>
            </tr>
            <tr>
              <td>{% trans "nfc.enabled" %}:</td>
              <th>
                {%if organization.nfcEnabled %} {% trans "yes" %} {%else%} {% trans "no" %} {%endif%}
              </th>
            </tr>
            <tr>
              <td>{% trans "qr.scanning.enabled" %}:</td>
              <th>
                {%if organization.qrScanEnabled %} {% trans "yes" %} {%else%} {% trans "no" %} {%endif%}
              </th>
            </tr>
            <tr>
              <td>{% trans "status" %}:</td>
              <th>
                {%if tenantAdmin.status == 1 %} {% trans "active" %} {%else%} {% trans "pending" %} {%endif%}
              </th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">{% trans "list.of.users" %}</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th style="width: 30%;">{% trans "fullname" %}</th>
              <th style="width: 30%;">{% trans "email" %}</th>
              <th style="width: 20%;">{% trans "role" %}</th>
              <th style="width: 20%;">{% trans "status" %}</th>
            </tr>
          </thead>
          <tbody>
            {% for u in users %}
            <tr>
              <td>{{u.fullname}}</td>
              <td>{{u.email}}</td>
              <td>{{u.role_names}}</td>
              <td>
                {% if u.status == 0 %}
                  {% trans "pending" %}
                {% elif u.is_active %}
                  {% trans "active" %}
                {% else %}
                  {% trans "inactive" %}
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">{% trans "list.of.locations" %}</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th style="width: 35%;">{% trans "addressLine1" %}</th>
              <th style="width: 35%;">{% trans "addressLine2" %}</th>
              <th style="width: 15%;">{% trans "city" %}</th>
              <th style="width: 15%;">{% trans "postCode" %}</th>
            </tr>
          </thead>
          <tbody>
            {% for l in locations %}
            <tr>
              <td>{{l.addressLine1}}</td>
              <td>{{l.addressLine2}}</td>
              <td>{{l.city}}</td>
              <td>{{l.postCode}}</td>
            </tr>
            {% endfor %}
            {% if not locations %}
            <tr>
              <td colspan="4">No result found</td>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">{% trans "list.of.devices" %}</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th style="width: 25%;">{% trans "id1" %}</th>
              <th style="width: 25%;">{% trans "id2" %}</th>
              <th style="width: 50%;">{% trans "location" %}</th>
            </tr>
          </thead>
          <tbody>
            {% for d in devices %}
            <tr>
              <td>{{d.id1}}</td>
              <td>{{d.id2}}</td>
              <td>{{d.installationLocation}}</td>
            </tr>
            {% endfor %}
            {% if not devices %}
            <tr>
              <td colspan="3">No result found</td>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <a href="/_admin" class="mt-2 btn btn-sm btn-secondary">
    <i class="fas fa-arrow-left text-white-50"></i> {% trans "back" %}
  </a>
</div>
{% endblock %}