{% extends "../base.html" %}
{% load i18n %}

{% block sidebar %}
{% with page=1 %}
{{ block.super }}
{% endwith %}
{% endblock %}

{% block content %}
<div class="content p-3"> 
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">        
        {% trans "list.of.users.from" %} {{organization.name}}
      </h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table id="table" class="table table-bordered" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th style="width: 30%;">{% trans "fullname" %}</th>
              <th style="width: 30%;">{% trans "email" %}</th>
              <th style="width: 20%;">{% trans "groups" %}</th>
              <th style="width: 20%;">{% trans "status" %}</th>        
            </tr>
          </thead>
        </table>
      </div>
      <a href="/_admin" class="mt-2 btn btn-sm btn-secondary">
        <i class="fas fa-arrow-left text-white-50"></i> {% trans "back" %}
      </a>
    </div>
  </div>  
</div>

<script>
  $(document).ready(function() {
    $('#table').DataTable({
      "ordering": false,
      "processing": true,
      "serverSide": true,
      "language": {
        "processing": "<div class='spinner-border'></div>"
      },
      "ajax": {
        "url": "/api/user/search",
        "data": function(data) {
          data.organizationId = '{{organization.id}}';
        }
      },
      "columns": [
        { "data": "fullname",
          render: function(data, type, row) {
            var html = '';
            if(row.profilePicture) {
              html += `<img class="img-profile rounded-circle mr-2" src="/${ row.profilePicture }">`;
            }else {
              html += `<img class="img-profile rounded-circle mr-2" src="/static/img/user.png">`;
            }
            html += `<span>${data}</span>`;
            return html;
          } 
        },
        { "data": "email" },
        { "data": "group_names"},
        { "data": "status", "render": function(data, type, row) {
            if(data == 0) return '{% trans "pending" %}';
            return row.is_active? '{% trans "active" %}': '{% trans "inactive" %}';
          } 
        }   
      ],
    })
  });  
</script>
{% endblock %}