{% extends "./base.html" %}
{% load i18n %}

{% block content %}
<style>
  .update-account-form {
    border: 1px solid #DDD;
    max-width: 420px;
    padding: 20px;
  }
</style>

<div id="content" class="container p-3">
  <ul class="nav nav-tabs mb-4">
    <li class="nav-item">
      <a href="/profile/update" class="nav-link">{% trans "update.account" %}</a>
    </li>
    <li class="nav-item">
      <a href="/profile/change_password" class="nav-link active">{% trans "change.password" %}</a>
    </li>
  </ul>
  <div class="row">
    <div class="col-6 offset-3">
      <form class="update-account-form" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <div class="form-group">
          <label><b>{% trans "current.password" %} * :</b></label>
          <input name="current_pass" type="password" class="form-control" />
          {{ form.current_pass.errors }}
        </div>
  
        <div class="form-group">
          <label><b>{% trans "new.password" %} * :</b></label>
          <input name="password" type="password" class="form-control" />
          {{ form.password.errors }}
        </div>

        <div class="form-group">
            <label><b>{% trans "confirmed.password" %} * :</b></label>
            <input name="password2" type="password" class="form-control" />
            {{ form.password2.errors }}
          </div>
  
        <div class="form-group">
          <button type="submit" class="mt-4 btn btn-primary btn-block">
            {% trans "change.password" %}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}