{% extends "./base.html" %}

{% block content %}
<style>
  .update-account-form {
    border: 1px solid #DDD;
    max-width: 500px;
    padding: 20px;
  }
</style>

<div id="content" class="container p-3">
  <ul class="nav nav-tabs mb-4">
    <li class="nav-item">
      <a href="/profile/update" class="nav-link active">Update Account</a>
    </li>
    <li class="nav-item">
      <a href="/profile/change_password" class="nav-link">Change Password</a>
    </li>
  </ul>
  <div class="row">
    <div class="col-6 offset-3">
      <form class="update-account-form" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <div class="form-group">
          <label><b>Email:</b></label>
          <input name="email" type="text" class="form-control" value="{{form.email.value}}" />
          {{ form.email.errors }}
        </div>
  
        <div class="form-group">
          <label><b>Full Name:</b></label>
          <input name="fullname" type="text" class="form-control" value="{{form.fullname.value|default:''}}" />
          {{ form.fullname.errors }}
        </div>

        <div class="form-group">
          <label><b>Profile picture:</b></label>
          <input type="file" id="profilePicture" name="profilePicture" accept="image/*" class="mt-2 form-control-file" />
          <div class="row justify-content-center" >
            {%if user.profilePicture %}
              <img src='/{{user.profilePicture}}' class="mt-2" width="200" height="200" id="profilePicturePreview" alt="" />
            {%else%}
              <img style="display: none;" class="mt-2" width="200" height="200" id="profilePicturePreview" alt="" />
            {%endif%}
            {{ form.profilePicture.errors }}                      
          </div>
        </div>
  
        <div>{{form.non_field_errors}}</div>
  
        <div class="form-group">
          <button type="submit" class="mt-4 btn btn-primary btn-block">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      
      reader.onload = function(e) {
        $('#profilePicturePreview').attr('src', e.target.result);
        $('#profilePicturePreview').show();
      }
      
      reader.readAsDataURL(input.files[0]);
    }
  }
  
  $("#profilePicture").change(function() {
    readURL(this);
  });
</script>

{% endblock %}