{% extends "../base.html" %}

{% block sidebar %}
{% with page=1 %}
{{ block.super }}
{% endwith %}
{% endblock %}

{% block content %}
<div class="content p-3">
  <form method="POST" novalidate> 
    {% csrf_token %}
    {% if user %}
    <h5>
      User: {{ user.username }}
      {% if user.fullname %}
        ({{user.fullname}})
      {%endif%}
    </h5>
    {%endif%}
    <table class="table table-form mt-2">{{ form }}</table>
    <button class="btn btn-primary" type="submit">Save</button>
    <a class="btn btn-secondary" href='/staff/user'>Back</a>
  </form>
</div>
{% endblock %}