{% extends "../base.html" %}

{% block sidebar %}
{% with page=3 %}
{{ block.super }}
{% endwith %}
{% endblock %}

{% block content %}
<div class="content p-3">
  <div class="row mb-4">
    <div class="col-8">
      <a href='/staff/device/add' class="btn btn-secondary">Add Devices</a>
    </div>
  </div>

  <table id="table" class="display mt-2">
    <thead>
      <tr>
        <th style="width: 25%;">ID #1</th>
        <th style="width: 25%;">ID #2</th>
        <th style="width: 40%;">Location</th>
        <th style="width: 10%;"></th>
      </tr>
    </thead>
  </table>
</div>

<script>
$(document).ready(function() {
  $('#table').DataTable({
    "ordering": false,
    "processing": true,
    "serverSide": true,
    "ajax": "/api/device/search_by_org",
    "columns": [
      { "data": "id1" },
      { "data": "id2" },
      { "data": "location" },
      {
        render: function (data, type, row) {
          return `
          <a title="Edit" href="/staff/device/update/${row['id']}"><i class="fas fa-edit"></i></a> 
          &nbsp;
          <a title="Delete" href="#" onclick="deleteItem(${row['id']})" ><i class="fas fa-trash" style="color:red"></i>
          </a>`;
        }
      }
    ],
  })
});

async function deleteItem(id) {
  if (confirm('Do you want to delete?')) {
    location.href = "/staff/device/delete/" + id;
  }
}
</script>
{% endblock %}