{% extends "./base.html" %}
{% load i18n %}

{% block content %}
<div class="content d-flex flex-column">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a href="/staff" class="nav-link">{% trans "table.view" %}</a>
    </li>
    <li class="nav-item">
      <a href="/staff/map_view" class="nav-link active">{% trans "map.view" %}</a>
    </li>
  </ul>
  <div id="map" class="flex-column" style="flex:1; width: 100%;min-height: 500px;"></div>
  <audio id="dingAudio">
    <source src="/static/audio/ding.mp3" type="audio/mpeg">
  </audio>
</div>

<script>
  var map;
  var markers = [];

  function removeMarkers() {
    for (var i = 0; i < markers.length; i++) {
      markers[i].setMap(null);
    }
  }

  function addMarker(item) {
    if(!item.geoLocation) return;
    
    var marker =  new google.maps.Marker({ 
        position: item.geoLocation, map: map, 
        title: `${item.user}` 
      });
    
    var infowindow = new google.maps.InfoWindow({
      content: 
      `<div>
        <div class="d-flex justify-content-center"><div class="flex-column">${item.user}</div></div>
        <div class="mt-2 d-flex"><div class="flex-column">${item.date} (${item.datediff} ago)</div></div>
      </div>`
    });

    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
    markers.push(marker);
  }
  
  async function initMap() {
    var response = await fetch('/api/checkin/search?start=0&length=20&mapView=1');
    var result = await response.json();
    var items = result.data;

    var position = { lat: 52.479865, lng: -1.911067 };
    
    if(items.length > 0 && items[0].geoLocation) {
      position = items[0].geoLocation;
    }
    
    map = new google.maps.Map(document.getElementById('map'), { zoom: 16, center: position });

    if(items.length == 0 && navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(x => map.setCenter({lat: x.coords.latitude, lng: x.coords.longitude}));
    }

    items.forEach(item => addMarker(item));
  }

  $(document).ready(function() {
    var lastUpdated = "";
    
    $.get('/api/checkin/last_updated', (data, status) => {
      lastUpdated = data.time;    
    });

    setInterval(function(){
      var url = '/api/checkin/check_for_update?last_updated=' + lastUpdated;
      $.get(url, async function(data, status){
        if(data.updated) {
          lastUpdated = data.lastUpdated;
          newCheckIn = data.newCheckIn;
          document.getElementById("dingAudio").play();
          addMarker(newCheckIn);
        }
      });
    }, 3000);
  });
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBR8gU4Te36NCYlc2ZdynsOWQOS03lzWKc&callback=initMap"></script>
{% endblock %}