{% extends "../base.html" %}
{% load i18n %}

{% block sidebar %}
{% with page=1 %}
{{ block.super }}
{% endwith %}
{% endblock %}

{% block content %}
<div class="content p-3">
  {% if user|has_page_edit_permission:"USERS" %}
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">{% trans "user.details" %}</h6>
      </div>
      <div class="card-body">
        <form id="fmt" method="POST" novalidate> 
          {% csrf_token %}        
          <table class="table table-form mb-2">
            {% if edit_user %}
              <tr>
                <th style="width: 30%;">{% trans "fullname" %}:</th>
                <td>{{ edit_user.fullname }}</td>              
              </tr>
              <tr>
                <th>{% trans "email.address" %}:</th>
                <td>{{edit_user.email}}</td>              
              </tr>         
            {%endif%}
            {{ form }}
            <tr>
              <th>{% trans "roles" %} (*):</th>
              <td>
                {% if lockAdmin %}
                <input type="checkbox" 
                  onclick="return false;" checked class="role-chkbox" value="{{roleAdmin.id}}"> {{roleAdmin.name}}
                {% else %}
                  {% for role in allRoles %}
                    <input {% if edit_user|has_role:role.code %} checked {%endif%}
                      class="role-chkbox" value="{{role.id}}" type="checkbox" code="{{role.code}}"> {{role.name}}
                    &nbsp;
                  {%endfor%}
                {%endif%}
              </td>
            </tr>
            <tr>
              <th>{% trans "groups" %} :</th>
              <td>
                {% for group in allGroups %}
                  <span title="{{group.description|default:''}}" data-toggle="tooltip" data-placement="top" class="mr-4">
                    <input {% if edit_user|has_group:group %} checked {%endif%}
                      class="group-chkbox" value="{{group.id}}" type="checkbox" > {{group.name}}
                  </span>
                {%endfor%}
              </td>
            </tr>
          </table>
          <a class="btn btn-sm btn-secondary mr-1" href='/staff/users'>
            <i class="fas fa-arrow-left text-white-50"></i> {% trans "back" %}
          </a>
          <button onclick="save()" class="btn btn-sm btn-primary" type="button">
            <i class="fas fa-save text-white-50"></i> {% trans "save" %}
          </button>        
        </form>
      </div>
    </div>
  {% else %}
    <h4>{% trans "you.do.not.have.access.to.this.page" %}</h4>
  {% endif %}
</div>
<script> 
  function save() {
    var roleIds = [];
    $('.role-chkbox:checked').each(function() {
      roleIds.push($(this).val());
    });
    $('#id_roleIds').val(roleIds.join(','));
    if($('#id_roleIds').val() == '') {
      alert('{% trans "please.select.a.role" %}');
      return;
    }
    var groupIds = [];
    $('.group-chkbox:checked').each(function() {
      groupIds.push($(this).val());
    });
    $('#id_groupIds').val(groupIds.join(','));
    $('#fmt').submit();
  }

  $(document).ready(function(){
    
    $('.role-chkbox').change(function() {
      var code = $(this).attr('code');
      var checked = $(this).prop('checked');
      if(checked) {
        $('.role-chkbox').prop('checked', false);
        $(this).prop('checked', true);
        if(code == 'ADMIN') {
          alert('{% trans "role.admin.warning" %}');
        }
      }         
    });

    if('{{edit_user|has_role:"ADMIN"}}' == 'True') {
      $('.role-chkbox:not(":checked")').attr('disabled', 'disabled');
    }

    $('[data-toggle="tooltip"]').tooltip();
  })
</script>
{% endblock %}