{% extends "../base.html" %}

{% block sidebar %}
{% with page=1 %}
{{ block.super }}
{% endwith %}
{% endblock %}

{% block content %}
<div class="content p-3">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">User Details</h6>
    </div>
    <div class="card-body">
      <form id="fmt" method="POST" novalidate> 
        {% csrf_token %}        
        <table class="table table-form mb-2">
          {% if edit_user %}
            <tr>
              <th>Full Name:</th>
              <td>{{ edit_user.fullname }}</td>              
            </tr>
            <tr>
              <th>Email address:</th>
              <td>{{edit_user.email}}</td>              
            </tr>         
          {%endif%}
          {{ form }}
        </table>
        <a class="btn btn-sm btn-secondary mr-1" href='/staff/users'>
          <i class="fas fa-arrow-left text-white-50"></i> Back
        </a>
        <button class="btn btn-sm btn-primary" id="btn_save" onclick="save()" type="button">
          <i class="fas fa-save text-white-50"></i> Save
        </button>        
      </form>
    </div>
  </div>
</div>
<script>
  function save() {
    $('#btn_save').prop('disabled', true);
    if($('#id_role').val() == '1') {
      if(!confirm('This user will have complete access to all features of Dashboard (can add/remove users etc.). Do you want to continue')) {
        $('#btn_save').prop('disabled', false);
        return;
      }
    }
    $('#fmt').submit();
  }
</script>
{% endblock %}