{% extends "../base.html" %}

{% block sidebar %}
{% with page=1 %}
{{ block.super }}
{% endwith %}
{% endblock %}

{% block content %}
<div class="content p-3">
  <div class="row mb-4">
    <div class="col-8">
      <a href='/staff/users/add' class="btn btn-secondary">Add User</a>
      <button class="btn btn-secondary mr-2" onclick="showImportModal()">
        <i class="fas fa-upload"></i>Import
      </button>      
      <a href='/staff/users/export' class="btn btn-secondary mr-2">
        <i class="fas fa-download"></i>Export
      </a>      
    </div>
  </div>

  <table id="table" class="display mt-2">
    <thead>
      <tr>
        <th style="width: 35%;">Full Name</th>
        <th style="width: 30%;">Email</th>
        <th style="width: 25%;">Status</th>
        <th style="width: 10%;"></th>
      </tr>
    </thead>
  </table>

  <div class="modal fade" id="viewDetailsModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">User Details</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col">
                <label>Full Name:</label>
                <label><b><span id="full_name"></span></b></label>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label>Email:</label>
                <label><b><span id="email"></span></b></label>
              </div>
            </div>
           
            <div class="row">
              <div class="col">
                <label>NFC Enabled:</label>
                <label><b><span id="nfc_enabled"></span></b></label>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label>QR Scan Enabled:</label>
                <label><b><span id="qr_scan_enabled"></span></b></label>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label>GeoLocation Enabled:</label>
                <label><b><span id="geo_location_enabled"></span></b></label>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <label>Status:</label>
                <label><b><span id="status"></span></b></label>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label>Role:</label>
                <label><b><span id="role"></span></b></label>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="uploadModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Import Users</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <form id="fmt" method="POST" enctype="multipart/form-data">
            {%csrf_token%}
            <div class="row">
              <div class="col-3">
                <label>CSV file:</label>
              </div>
              <div class="col-5">
                <input type="file" accept=".csv" class="form-control-file" 
                  id="csv_file" name="csv_file" onchange="previewImport()">
              </div>
            </div>            
          </form>

          <form id="fmt2" style="display: none;" method="POST" action="/staff/users/import">
            {%csrf_token%}
            <label>Select the CSV column you want to use the data from for each field.</label>
            <div id="fmt2Body"></div>
            <button type="submit" class="mt-3 btn btn-secondary">
              Import
            </button>
          </form>
        </div>       
      </div>
    </div>
  </div>

  <div class="modal fade" id="deleteConfirmModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete this User?</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <form id="fmt3" method="POST" onkeydown="return event.key != 'Enter';">
            {%csrf_token%}
            <input type="hidden" id="userId">
            <div class="row">
              <div class="col"><label>Please enter your password to confirm:</label></div>
            </div>
            <div class="row mt-2">
              <div class="col"><input class="form-control" type="password" id="password" name="password"></div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <label id="errorLabel" style="color: red;"></label>
              </div>
            </div>
            <button type="button" onclick="deleteUser()" class="mt-3 btn btn-danger">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
function renderCheckbox(data, type, row) {
  return '<input type="checkbox" onclick="return false;"' + (data? ' checked' : '') + '/>';
}

$(document).ready(function() {
  $('#table').DataTable({
    "ordering": false,
    "processing": true,
    "serverSide": true,
    "ajax": "/api/user/search",
    "columns": [
      { "data": "fullname",
        render: function(data, type, row) {
          var html = '';
          if(row.profilePicture) {
            html += `<img class="img-profile rounded-circle mr-2" src="/${ row.profilePicture }">`;
          }else {
            html += `<img class="img-profile rounded-circle mr-2" src="/static/img/user.png">`;
          }
          html += `<span>${data}</span>`;
          return html;
        } 
      },
      { "data": "email" },
      { "data": "status", "render": function(data, type, row) {
          if(data == 0) return "Pending";
          return row.is_active? "Active": "Inactive";
        } 
      },      
      {
        render: function (data, type, row) {  
          var html = `<a title="View details" href="#" onclick="viewInfo(${row['id']})"><i class="fas fa-eye"></i></a>&nbsp;&nbsp;`;
          if(row.roleCode == 'ADMIN'){
            html += `<a><i class="fas fa-lock"></i></a>&nbsp&nbsp;`;
          }else {
            html += `<a title="Edit" href="/staff/users/update/${row['id']}"><i class="fas fa-edit"></i></a>&nbsp;&nbsp;`
                    +`<a title="Delete" href="#" onclick="openDeleteConfirmation(${row['id']})" ><i class="fas fa-trash" style="color:red"></i></a>`;
          }
          
          if(row.status == 0) {
            html += `&nbsp;&nbsp;<a title="Resend invitation email" href="#" onclick="resendMail(${row['id']})" ><i class="fas fa-envelope"></i></a>`;
          }else if(row.roleCode != 'ADMIN') {
            if(row.is_active) {
              html += `&nbsp;&nbsp;<a title="Deactivate this user" href="#" onclick="lockUser(${row['id']})" ><i class="fas fa-ban"></i></a>`;
            }else {
              html += `&nbsp;&nbsp;<a title="Activate this user" href="#" onclick="unlockUser(${row['id']})" ><i class="fas fa-toggle-on"></i></a>`;
            }
          }

          return html;
        }
      }
    ],
  })
});

async function viewInfo(id) {
  var resp = await fetch("/api/user/details/" + id);
  var user = await resp.json();
  $("#full_name").html(user.fullname);
  $("#email").html(user.email);
  $("#nfc_enabled").html(user.nfcEnabled? "Yes": "No");
  $("#qr_scan_enabled").html(user.qrScanEnabled? "Yes": "No");
  $("#geo_location_enabled").html(user.sharedLocation? "Yes": "No");
  $("#status").html(user.status == 0? "Pending" : (user.is_active? "Active": "Inactive"));
  $("#role").html(user.role);
  $("#viewDetailsModal").modal();
}

function openDeleteConfirmation(id) {
    $('#password').val('');
    $('#userId').val(id);
    $("#deleteConfirmModal").modal();
  }

async function deleteUser() {
  $("#errorLabel").html('');
  var formData = new FormData(document.getElementById("fmt3"));
  var response = await fetch("/api/user/delete/" + $('#userId').val(), {
    body: formData,
    method: "POST"
  });
  var result = await response.json();
  if (result.success) {
    location.href = "/staff/users";
  } else {
    $("#errorLabel").html(result.error || "Error occurred");
  }
}


async function resendMail(id) {
  if (confirm('Resend an invitation email to this user?')) {
    location.href = "/staff/users/resend_mail/" + id;
  }
}

function lockUser(id) {
  if(confirm('Deactivate this user?')) {
    location.href = "/staff/users/lock/" + id;
  }
}

function unlockUser(id) {
  if(confirm('Activate this user?')) {
    location.href = "/staff/users/unlock/" + id;
  }
}

function showImportModal() {
  $("#csv_file").val("");
  $("#fmt").show();
  $("#fmt2").hide();
  $("#uploadModal").modal();
}

function createOptionsPanel(header, csvHeader) {
  return header.map((column, i) => 
    (
      `<div class="row mt-3">
        <div class="col-3">
          <label>${header[i]}</label>
        </div>
        <div class="col-5">
          <select name="col_${i}" class="form-control">` +
              csvHeader.map((col, j) => 
                (
                  `<option value="${j}" ${i==j?'selected':''}>
                    ${csvHeader[j]}
                  </option>`
                )
              ).join('') +
          `</select>
        </div>
      </div>`  
    )
  ).join('');  
}

async function previewImport() {
  var formData = new FormData(document.getElementById("fmt"));
  var response = await fetch("/staff/users/import_preview", {
    body: formData,
    method: "POST"
  });
  var result = await response.json();
  $("#fmt2Body").html(createOptionsPanel(result.header, result.csvHeader));
  $("#fmt").hide();
  $("#fmt2").show();
}
</script>
{% endblock %}