{% extends "../base.html" %}
{% load i18n %}

{% block sidebar %}
{% with page=1 %}
{{ block.super }}
{% endwith %}
{% endblock %}

{% block content %}
<div class="content p-3">
  {% if user|has_page_view_permission:"USERS" %}
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">{% trans "permissions.for" %} {{ edit_user.display }}</h6>
      </div>
      <div class="card-body">
        <form method="POST" novalidate> 
          {% csrf_token %}
          <table class="table">
            <tbody>
              <tr>
                <th style="width: 75%;">{% trans "features.or.modules" %}:</th>
                <th colspan="3">{% trans "access" %}</th>
              </tr>
              {%  for feature in features %}
              <tr>
                <td>{{feature.name}}</td>
                <td colspan="3">
                  <input name='feature_{{feature.code}}' type="checkbox" 
                    {% if feature.access %} checked {% endif %}
                    {% if not user|has_page_edit_permission:"USERS"%} onclick="return false;" {%endif%}>
                </td>
              </tr>
              {% endfor %}
              <tr>
                <th>{% trans "access.to.pages" %}</th>
                <th>{% trans "view" %}</th>
                <th>{% trans "edit" %}</th>
                <th>{% trans "delete" %}</th>
              </tr>
              {% for page in pages %}
              <tr>
                <td>{{page.name}}</td>
                <td>
                  <input name='page_{{page.code}}_VIEW' type="checkbox" 
                    {% if page.view %} checked {% endif %}
                    {% if not user|has_page_edit_permission:"USERS"%} onclick="return false;" {%endif%}>
                </td>
                <td>
                  <input name='page_{{page.code}}_EDIT' type="checkbox" 
                    {% if page.edit %} checked {% endif %}
                    {% if not user|has_page_edit_permission:"USERS"%} onclick="return false;" {%endif%}>
                </td>
                <td>
                  <input name='page_{{page.code}}_DELETE' type="checkbox" 
                    {% if page.delete %} checked {% endif %}
                    {% if not user|has_page_edit_permission:"USERS"%} onclick="return false;" {%endif%}>
                </td>
              </tr>
              {% endfor %}
              <tr>
                <th>{% trans "view.check.in.history.of.groups" %}</th>
                <th colspan="3">{% trans "view" %}</th>              
              </tr>
              {% for viewed_group in viewed_groups %}
                <tr>
                  <td>{{viewed_group.name}}</td>
                  <td colspan="3">
                    <input name='viewed_group_{{viewed_group.id}}' type="checkbox" 
                      {% if viewed_group.viewed %} checked {% endif %}
                      {% if not user|has_page_edit_permission:"USERS"%} onclick="return false;" {%endif%}>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>        

          <a class="btn btn-sm btn-secondary mr-1" href='/staff/users'>
            <i class="fas fa-arrow-left text-white-50"></i> {% trans "back" %}
          </a>
          
          {% if user|has_page_edit_permission:"USERS"%}
            <button class="btn btn-sm btn-primary" type="submit">
              <i class="fas fa-save text-white-50"></i> {% trans "save" %}
            </button>        
          {%endif%}
        </form>      
      </div>
    </div>
  {%else%}
    <h4>{% trans "you.do.not.have.access.to.this.page" %}</h4>
  {%endif%}
</div>
{% endblock %}