<meta charset="utf-8">
<title>ScanX Cloud Dashboard</title>
<link rel="/static/images/apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=XBb4w6pr3a">
<link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png?v=XBb4w6pr3a">
<link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png?v=XBb4w6pr3a">
<link rel="manifest" href="/static/images/site.webmanifest?v=XBb4w6pr3a">
<link rel="mask-icon" href="/static/images/safari-pinned-tab.svg?v=XBb4w6pr3a" color="#5bbad5">
<link rel="shortcut icon" href="/static/images/favicon.ico?v=XBb4w6pr3a">
<meta name="apple-mobile-web-app-title" content="ScanX">
<meta name="application-name" content="ScanX">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="/static/images/mstile-144x144.png?v=XBb4w6pr3a">
<meta name="theme-color" content="#000000">

<link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link
  href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
  rel="stylesheet">

<link rel="stylesheet" href="/static/css/jquery.dataTables.css">
<link href="/static/css/sb-admin-2.css" rel="stylesheet">
<link href="/static/fonts/webfonts/balsamiqsans.css" rel="stylesheet" type="text/css">
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

{% load tz %}

<body id="page-top">
  <div id="wrapper">
    {% block sidebar %}
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark" id="accordionSidebar">
      <a class="sidebar-brand d-flex align-items-center" href="#">
        <div class="sidebar-brand-text">ScanX</div>
      </a>

      <hr class="sidebar-divider">

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true">
          <span>Users & Organizations</span>
        </a>
        <div id="collapseOne" class="collapse {% if group == 1%}show{%endif%}" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item {% if page == 1 %} active {%endif%}" href="/_admin">Organizations</a>
            <a class="collapse-item {% if page == 2 %} active {%endif%}" href="/_admin/permissions">Permissions</a>
          </div>
        </div>
      </li>

      <hr class="sidebar-divider">

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true">
          <span>Devices</span>
        </a>
        <div id="collapseTwo" class="collapse {% if group == 2%}show{%endif%}" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item {% if page == 3 %} active {%endif%}" href="/_admin/devices/unregistered">Unregistered Devices</a>
            <a class="collapse-item {% if page == 4 %} active {%endif%}" href="/_admin/devices/registered">Registered Devices</a>
          </div>
        </div>
      </li>

      <hr class="sidebar-divider">

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true">
          <span>Settings</span>
        </a>
        <div id="collapseThree" class="collapse {% if group == 4%}show{%endif%}" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item {% if page == 5 %} active {%endif%}" href="/_admin/settings/admin_mail_template">Admin Mail template</a>
            <a class="collapse-item {% if page == 6 %} active {%endif%}" href="/_admin/settings/mail_template">Mail template</a>
          </div>
        </div>
      </li>

      <hr class="sidebar-divider">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    {% endblock %}

    <div id="content-wrapper">
      <div id="content">
        <nav class="navbar navbar-expand navbar-light topbar shadow">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item d-flex mr-4">
              <span class="align-self-center">Last Login: {{ user.last_login }}</span>
            </li>
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <img class="img-profile rounded-circle" src="/static/img/user.svg">
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/accounts/logout">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>
          </ul>
        </nav>

        {%block content %}
        {%endblock%}

      </div> <!-- End of Main Content -->
    </div> <!-- End of Content Wrapper -->
  </div> <!-- End of Page Wrapper -->
  <script src="/static/js/main.js"></script>
  <script src="/static/js/sb-admin-2.js"></script>
</body>