<meta charset="utf-8">
<title>ScanX</title>
<link rel="/static/img/apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=XBb4w6pr3a">
<link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png?v=XBb4w6pr3a">
<link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png?v=XBb4w6pr3a">
<link rel="manifest" href="/static/img/site.webmanifest?v=XBb4w6pr3a">
<link rel="mask-icon" href="/static/img/safari-pinned-tab.svg?v=XBb4w6pr3a" color="#5bbad5">
<link rel="shortcut icon" href="/static/img/favicon.ico?v=XBb4w6pr3a">
<meta name="apple-mobile-web-app-title" content="ScanX">
<meta name="application-name" content="ScanX">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="/static/img/mstile-144x144.png?v=XBb4w6pr3a">
<meta name="theme-color" content="#000000">

<link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link
  href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
  rel="stylesheet">
<link href="/static/css/sb-admin-2.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<body id="page-top">
  <div id="wrapper">

    <div id="content-wrapper">
      <div id="content">
        <nav class="navbar navbar-expand navbar-light topbar shadow">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="/"><img style="width: 80px; height: 80px;" src="/static/img/scanX.png"></a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item d-flex mr-4">
              <span class="align-self-center">Last Login: {{ user.last_login|date:"d/m/Y H:i:s" }}</span>
            </li>
            <li class="nav-item dropdown no-arrow d-flex">
              <span class="mr-2 align-self-center">{{ user.fullname|default:'' }}</span>              
              <a class="p-0 nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                {% if user.profilePicture %}
                  <img class="img-profile rounded-circle" src="/{{ user.profilePicture.url }}">
                {%else%}
                  <img class="img-profile rounded-circle" src="/static/img/user.png">
                {%endif%}
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="/profile/update">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/accounts/logout">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>            
          </ul>
        </nav>

        {%block content %}
        <div style="min-height: 800px;">
          <div class="container mt-3 text-center">
            <div class="row">
              <div class="col">
                <h1>Welcome to ScanX!</h1>
                Please use the below links download the mobile app
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-6 text-center">
                <h4>iOS</h4>
                <br>
                <img class="mb-3" style="max-width:300px;" src="/static/img/ios_app.png">
                <br>
                <a href="https://i.diawi.com/HdKTQG">https://i.diawi.com/HdKTQG</a>
              </div>
              <div class="col-6 text-center">
                <h4>Android</h4>
                <br>
                <img class="mb-3" style="max-width:300px;" src="/static/img/android_app.png">
                <br>
                <a href="https://i.diawi.com/4C8BU5">https://i.diawi.com/4C8BU5</a>
              </div>
            </div>
          </div>
        </div>
        {%endblock%}

      </div> <!-- End of Main Content -->
    </div> <!-- End of Content Wrapper -->
  </div> <!-- End of Page Wrapper -->
  <script src="/static/js/sb-admin-2.js"></script>
</body>