{% extends "../base.html" %}
{% load i18n %}

{% block sidebar %}
{% with page=7 group=2 %}
{{ block.super }}
{% endwith %}
{% endblock %}

{% block content %}
<div class="content p-3">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">{% trans "custom.parameters" %}</h6>
    </div>
    <div class="card-body">
      {%if saved%}
      <span class="badge badge-success mb-3">{% trans "parameters.successfully.saved" %}!</span>
      {%endif%}
      <form method="POST">
        {% csrf_token %}
        <table class="table">
          <tbody>
            {% for param in tenant_params %}
            <tr>
              <th style="width:40%">{{param.parameter.name}}:</th>
              <td>
                <input type='{{param.parameter.type}}' value='{{param.value}}' 
                  {%if param.parameter.min or param.parameter.min == 0 %} min='{{param.parameter.min}}' {%endif%}
                  {%if param.parameter.max %} max='{{param.parameter.max}}' {%endif%}
                  {%if param.parameter.maxLength %} maxlength='{{param.parameter.maxLength}}' {%endif%}
                  class="form-control" name='{{ param.parameter.key }}'>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>    
        <button type="submit" class="btn btn-sm btn-primary">
          <i class="fas fa-save text-white-50"></i> {% trans "save" %}
        </button>
      </form>
    </div>
  </div>  
</div>
{% endblock %}