{% extends "admins/base.html" %}

{% block sidebar %}
{% with page=3 %}
{{ block.super }}
{% endwith %}
{% endblock %}

{% block content %}
<div class="content p-3">
  <div class="row">
    <div class="col-8">
      <input placeholder="Search device" class="form-control"/>
    </div>
    <div class="col-4">
      <a href='{% url "registered-device-add" %}' class="btn btn-secondary float-right">Add Device</a>
      <button class="btn btn-secondary float-right mr-2"><i class="fas fa-upload"></i>Import</button>      
    </div>
  </div>
  <table class="table mt-2">
    <thead>
      <tr>
        <th style="width: 7%;">Enabled</th>
        <th style="width: 17%;">Device Type</th>
        <th style="width: 10%;">ID #1</th>
        <th style="width: 10%;">ID #2</th>
        <th style="width: 10%;">Other</th>
        <th style="width: 23%;">Registered By</th>
        <th style="width: 15%;">Registered Date</th>
        <th style="width: 8%;"></th>
      </tr>      
    </thead>
    <tbody>
      {% for device in devices %}
      <tr>
        <td class="text-center"><input type="checkbox" onclick="return false;" {%if device.enabled %} checked {%endif%}></td>
        <td>{{device.deviceType.name}}</td>
        <td>{{device.id1}}</td>
        <td>{{device.id2}}</td>
        <td></td>
        <td>{{device.organization.name}}</td>
        <td>{{device.registeredDate |date:"M d, Y" }}</td>
        <td class="text-center">
          <a title="Edit" href='{% url "registered-device-update" device.id %}'><i class="fas fa-edit"></i></a> &nbsp;
          <a title="Delete" href="#" onclick="confirmDelete(this)" url='{% url "registered-device-delete" device.id %}'><i class="fas fa-trash" style="color:red"></i></a>
        </td>
      </tr>
      {% endfor %}      
      
    </tbody>
  </table>
</div>
{% endblock %}