{% extends "../base.html" %}

{% block sidebar %}
{% with page=2 %}
{{ block.super }}
{% endwith %}
{% endblock %}

{% block content %}
<div class="content p-3">
  <div class="row mb-4">
    <div class="col-8">
      <a href='/staff/locations/add' class="btn btn-secondary">Add Location</a>
      <button class="btn btn-secondary mr-2" onclick="showImportModal()">
        <i class="fas fa-upload"></i>Import
      </button>      
      <a href='/staff/locations/export' class="btn btn-secondary mr-2">
        <i class="fas fa-download"></i>Export
      </a>      
    </div>
  </div>

  <table id="table" class="display mt-2">
    <thead>
      <tr>
        <th style="width: 22%;">Address Line 1</th>
        <th style="width: 22%;">Address Line 2</th>
        <th style="width: 15%;">City</th>
        <th style="width: 15%;">Post Code</th>
        <th style="width: 15%;">Map Coordinates</th>
        <th style="width: 11%;"></th>
      </tr>
    </thead>
  </table>

  <div class="modal fade" id="uploadModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Import Locations</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <form id="fmt" method="POST" enctype="multipart/form-data">
            {%csrf_token%}
            <div class="row">
              <div class="col-3">
                <label>CSV file:</label>
              </div>
              <div class="col-5">
                <input type="file" accept=".csv" class="form-control-file" 
                  id="csv_file" name="csv_file" onchange="previewImport()">
              </div>
            </div>            
          </form>

          <form id="fmt2" style="display: none;" method="POST" action="/staff/locations/import">
            {%csrf_token%}
            <label>Select the CSV column you want to use the data from for each field.</label>
            <div id="fmt2Body"></div>
            <button type="submit" class="mt-3 btn btn-secondary">
              Import
            </button>
          </form>
        </div>       
      </div>
    </div>
  </div>

  <div class="modal fade" id="deleteConfirmModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete this Location?</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <form id="fmt3" method="POST" onkeydown="return event.key != 'Enter';">
            {%csrf_token%}
            <input type="hidden" id="locationId">
            <div class="row">
              <div class="col"><label>Please enter your password to confirm:</label></div>
            </div>
            <div class="row mt-2">
              <div class="col"><input class="form-control" type="password" id="password" name="password"></div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <label id="errorLabel" style="color: red;"></label>
              </div>
            </div>
            <button type="button" onclick="deleteLocation()" class="mt-3 btn btn-danger">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {
  $('#table').DataTable({
    "ordering": false,
    "processing": true,
    "serverSide": true,
    "ajax": "/api/location/search",
    "columns": [
      { "data": "addressLine1" },
      { "data": "addressLine2" },
      { "data": "city" },
      { "data": "postCode" },
      { "data": "geoLocation" },      
      {
        render: function (data, type, row) {
          return `<a title="Edit" href="/staff/locations/update/${row['id']}"><i class="fas fa-edit"></i></a>&nbsp;&nbsp;`
                + `<a title="Delete" href="#" onclick="openDeleteConfirmation(${row['id']})" ><i class="fas fa-trash" style="color:red"></i></a>`;
        }
      }
    ],
  })
});

function openDeleteConfirmation(id) {
    $('#password').val('');
    $('#locationId').val(id);
    $("#deleteConfirmModal").modal();
  }

async function deleteLocation() {
  $("#errorLabel").html('');
  var formData = new FormData(document.getElementById("fmt3"));
  var response = await fetch("/api/location/delete/" + $('#locationId').val(), {
    body: formData,
    method: "POST"
  });
  var result = await response.json();
  if (result.success) {
    location.href = "/staff/locations";
  } else {
    $("#errorLabel").html(result.error || "Error occurred");
  }
}

function showImportModal() {
  $("#csv_file").val("");
  $("#fmt").show();
  $("#fmt2").hide();
  $("#uploadModal").modal();
}

function createOptionsPanel(header, csvHeader) {
  return header.map((column, i) => 
    (
      `<div class="row mt-3">
        <div class="col-3">
          <label>${header[i]}</label>
        </div>
        <div class="col-5">
          <select name="col_${i}" class="form-control">` +
              csvHeader.map((col, j) => 
                (
                  `<option value="${j}" ${i==j?'selected':''}>
                    ${csvHeader[j]}
                  </option>`
                )
              ).join('') +
          `</select>
        </div>
      </div>`  
    )
  ).join('');  
}

async function previewImport() {
  var formData = new FormData(document.getElementById("fmt"));
  var response = await fetch("/staff/locations/import_preview", {
    body: formData,
    method: "POST"
  });
  var result = await response.json();
  $("#fmt2Body").html(createOptionsPanel(result.header, result.csvHeader));
  $("#fmt").hide();
  $("#fmt2").show();
}
</script>
{% endblock %}