{% extends "../../base.html" %}

{% block sidebar %}
{% with group=2 page=3 %}
{{ block.super }}
{% endwith %}
{% endblock %}

{% block content %}
<div class="content p-3">
  <div class="row mb-2">
    <div class="col-8">
      <a href='/_admin/device/unregistered/add' class="btn btn-secondary">Add Devices</a>
      <button class="btn btn-secondary mr-2" onclick="showImportModal()">
        <i class="fas fa-upload"></i>Import
      </button>      
      <a href='/_admin/device/unregistered/export' class="btn btn-secondary mr-2">
        <i class="fas fa-download"></i>Export
      </a>      
    </div>
  </div>

  <table id="table" class="display mt-2">
    <thead>
      <tr>
        <th style="width: 10%;">Enabled</th>
        <th style="width: 40%;">ID #1</th>
        <th style="width: 40%;">ID #2</th>
        <th style="width: 10%;"></th>
      </tr>
    </thead>
  </table>

  <div class="modal fade" id="uploadModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Import Devices</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <form id="fmt" method="POST" enctype="multipart/form-data">
            {%csrf_token%}
            <div class="row">
              <div class="col-3">
                <label>CSV file:</label>
              </div>
              <div class="col-5">
                <input type="file" accept=".csv" class="form-control-file" 
                  id="csv_file" name="csv_file" onchange="previewImport()">
              </div>
            </div>            
          </form>

          <form id="fmt2" style="display: none;" method="POST" action="/_admin/device/unregistered/import">
            {%csrf_token%}
            <label>Select the CSV column you want to use the data from for each field.</label>
            <div id="fmt2Body"></div>
            <button type="submit" class="mt-3 btn btn-secondary">
              Import
            </button>
          </form>
        </div>       
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {
  $('#table').DataTable({
    "ordering": false,
    "processing": true,
    "serverSide": true,
    "ajax": "/api/device/unregistered/search",
    "columns": [
      { "data": "enabled",
        render: function (data, type, row){
          return '<input type="checkbox" onclick="return false;"' + (data? ' checked' : '') + '/>'
        } 
      },
      { "data": "id1" },
      { "data": "id2" },
      {
        render: function (data, type, row) {
          return `
          <a title="Edit" href="/_admin/device/unregistered/update/${row['id']}"><i class="fas fa-edit"></i></a> 
          &nbsp;
          <a title="Delete" href="#" onclick="deleteItem(${row['id']})" ><i class="fas fa-trash" style="color:red"></i>
          </a>`;
        }
      }
    ],
  })
});

async function deleteItem(id) {
  if (confirm('Do you want to delete?')) {
    var response = await fetch('/api/device/delete/' + id);
    var result = await response.json();
    if(result.success) {
      location.href = "/_admin/device/unregistered";
    }else{
      alert("Error: " + result.message);
    }
  }
}

function showImportModal() {
  $("#csv_file").val("");
  $("#fmt").show();
  $("#fmt2").hide();
  $("#uploadModal").modal();
}

function createOptionsPanel(header, csvHeader) {
  return header.map((column, i) => 
    (
      `<div class="row mt-3">
        <div class="col-3">
          <label>${header[i]}</label>
        </div>
        <div class="col-5">
          <select name="col_${i}" class="form-control">` +
              csvHeader.map((col, j) => 
                (
                  `<option value="${j}" ${i==j?'selected':''}>
                    ${csvHeader[j]}
                  </option>`
                )
              ).join('') +
          `</select>
        </div>
      </div>`  
    )
  ).join('');  
}

async function previewImport() {
  var formData = new FormData(document.getElementById("fmt"));
  var response = await fetch("/_admin/device/unregistered/import_preview", {
    body: formData,
    method: "POST"
  });
  var result = await response.json();
  $("#fmt2Body").html(createOptionsPanel(result.header, result.csvHeader));
  $("#fmt").hide();
  $("#fmt2").show();
}
</script>
{% endblock %}