{% load i18n %}
<meta charset="UTF-8">
<title>{% trans "tracdisc" %}</title>
<link rel="/static/img/apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=XBb4w6pr3a">
<link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png?v=XBb4w6pr3a">
<link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png?v=XBb4w6pr3a">
<link rel="manifest" href="/static/img/site.webmanifest?v=XBb4w6pr3a">
<link rel="mask-icon" href="/static/img/safari-pinned-tab.svg?v=XBb4w6pr3a" color="#5bbad5">
<link rel="shortcut icon" href="/static/img/favicon.ico?v=XBb4w6pr3a">
<meta name="apple-mobile-web-app-title" content="tracdisc">
<meta name="application-name" content="tracdisc">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="/static/img/mstile-144x144.png?v=XBb4w6pr3a">
<meta name="theme-color" content="#000000">
<link
  href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
  rel="stylesheet">
<link href="/static/vendor/sb-admin/sb-admin-2.css" rel="stylesheet">

<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-6">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-10 offset-1">
                <div class="p-5">
                  <div class="text-center">
                    <p class="mb-4">{% trans "forgot.password.email.sent" %}</p>
                  </div>
                  <form method="POST" class="user">{%csrf_token%}
                    <input type="hidden" name="email" value="{{email}}">
                    <button type="submit" class="btn btn-primary btn-user btn-block">
                      {% trans "send.again" %}
                    </button>
                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="{% url 'login' %}">{% trans "login" %}!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>