<meta charset="UTF-8">
<title>ScanX Cloud Dashboard</title>
<link rel="/static/img/apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=XBb4w6pr3a">
<link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png?v=XBb4w6pr3a">
<link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png?v=XBb4w6pr3a">
<link rel="manifest" href="/static/img/site.webmanifest?v=XBb4w6pr3a">
<link rel="mask-icon" href="/static/img/safari-pinned-tab.svg?v=XBb4w6pr3a" color="#5bbad5">
<link rel="shortcut icon" href="/static/img/favicon.ico?v=XBb4w6pr3a">
<meta name="apple-mobile-web-app-title" content="ScanX">
<meta name="application-name" content="ScanX">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="/static/img/mstile-144x144.png?v=XBb4w6pr3a">
<meta name="theme-color" content="#000000">

<link href="/static/css/sb-admin-2.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="/static/js/main.js"></script>
<style>
  .signup-form {
    border: 1px solid #DDD;
    max-width: 550px;
    padding: 20px;
    margin: 50 auto 0 auto;
  }
</style>

<div class="signup-form">
  <h4>User Registration: Initial Setup</h4>
  <br>
  <form method="POST" enctype="multipart/form-data">{% csrf_token %}
    <div class="form-group">
      <label>Your name:</label>
      <input name="fullname" type="text" class="form-control" value="{{form.fullname.value}}" />
      {{ form.fullname.errors }}
    </div>

    <div class="form-group">
      <label>Enter temporary password (sent with your email):</label>
      <input name="tempPassword" type="password" class="form-control" />
      {{ form.tempPassword.errors }}
    </div>

    <div class="form-group">
      <label>Enter a new Password:</label>
      <input name="password" type="password" class="form-control" />
      {{ form.password.errors }}
    </div>

    <div class="form-group">
      <label>Confirmed Password:</label>
      <input name="password2" type="password" class="form-control" />
      {{ form.password2.errors }}
    </div>

    <div class="form-group">
      <label>Choose a profile image (20MB max):</label>
      <input type="file" id="profilePicture" name="profilePicture" accept="image/*" class="form-control-file" />
      <img style="display: none;" class="mt-2" width="128" height="128" id="profilePicturePreview" alt="" />
      {{ form.profilePicture.errors }}
    </div>
    
    <div>{{form.non_field_errors}}</div>

    <div class="form-group">
      <button type="submit" class="mt-4 btn btn-primary btn-block">Complete</button>
    </div>
  </form>
</div>

<script>
function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    
    reader.onload = function(e) {
      $('#profilePicturePreview').attr('src', e.target.result);
      $('#profilePicturePreview').show();
    }
    
    reader.readAsDataURL(input.files[0]);
  }
}

$("#profilePicture").change(function() {
  readURL(this);
});
</script>