<meta charset="UTF-8">
<title>ScanX Cloud Dashboard</title>
<link rel="/static/img/apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=XBb4w6pr3a">
<link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png?v=XBb4w6pr3a">
<link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png?v=XBb4w6pr3a">
<link rel="manifest" href="/static/img/site.webmanifest?v=XBb4w6pr3a">
<link rel="mask-icon" href="/static/img/safari-pinned-tab.svg?v=XBb4w6pr3a" color="#5bbad5">
<link rel="shortcut icon" href="/static/img/favicon.ico?v=XBb4w6pr3a">
<meta name="apple-mobile-web-app-title" content="ScanX">
<meta name="application-name" content="ScanX">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="/static/img/mstile-144x144.png?v=XBb4w6pr3a">
<meta name="theme-color" content="#000000">
<link
  href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
  rel="stylesheet">
<link href="/static/css/sb-admin-2.css" rel="stylesheet">


<style>
  .login-form {
    border: 1px solid #DDD;
    max-width: 400px;
    padding: 20px;
    margin: 80 auto 0 auto;
  }
</style>

<div class="login-form">
  <h3>Sign in</h3>
  <br>
  <form method="POST">{% csrf_token %}
    <div class="form-group">
      <label>Email Address:</label>
      <input name="username" type="text" class="form-control" />
      {{ form.username.errors }}
    </div>
    <div class="form-group">
      <label>Password:</label>
      <input name="password" type="password" class="form-control" />
      {{ form.password.errors }}
    </div>

    {{ form.non_field_errors  }}

    <div class="form-group">
      <button type="submit" class="mt-4 btn btn-primary btn-block">Log in</button>
    </div>
    <div class="clearfix">
      <a href="#" class="float-right">Forgot Password</a>
    </div>
  </form>
  <!--<p class="text-center"><a href="#">Register</a></p>-->
</div>