Hi ${User.FULL_NAME},
<br/><br/>
You are now registered to use the ScanX service. 
<br/>
Please use this temporary password <b>${User.PASSWORD}</b> and follow <a href="${Link.ACCEPT_INVITATION}">this link</a> to complete the signup process.
<br/>
Regards,
<br/>
<img style="width: 80px; height: 80px;" src="https://scanx.cloud/static/img/scanX.png">