Hi ${User.FULL_NAME},

You are now registered to use the ScanX service. 
Please use this temporary password <b>${User.PASSWORD}</b> and follow <a href="${Link.ACCEPT_INVITATION}">this link</a> to complete the signup process.
Once registered, you will become the main administrator of your organization "${User.ORGANIZATION}".
Regards,

ScanX