Hi ${User.FULL_NAME},
<br/><br/>
You receive this email because you have requested a password reset for your <a href="https://scanx.cloud">ScanX</a> account. 
<br/>
Please use this link <a href="${Link.RESET_PASSWORD}">this link</a> to reset your password.
<br/>
Regards,
<br/>
<img style="width: 60px; height: 60px;" src="https://scanx.cloud/static/img/scanX.png">