{% extends "../base.html" %}

{% block sidebar %}
{% with group=1 page=1 %}
{{ block.super }}
{% endwith %}
{% endblock %}

{% block content %}
<div class="content p-3">
  <div class="row mb-4">
    <div class="col-8">
      <a href='/_admin/organizations/add' class="btn btn-secondary">Add Organization</a>
      <button class="btn btn-secondary mr-2" onclick="showImportModal()">
        <i class="fas fa-upload"></i>Import
      </button>      
      <a href='/_admin/organizations/export' class="btn btn-secondary mr-2">
        <i class="fas fa-download"></i>Export
      </a>      
    </div>
  </div>

  <table id="table" class="display mt-2">
    <thead>
      <tr>
        <th style="width: 26%;">Company Name</th>
        <th style="width: 12%;">User</th>
        <th style="width: 14%;">Admin Name</th>
        <th style="width: 14%;">Admin Email</th>
        <th style="width: 12%;">Devices</th>
        <th style="width: 12%;">Status</th>
        <th style="width: 10%;"></th>
      </tr>
    </thead>
  </table>

  <div class="modal fade" id="uploadModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Import Organizations</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <form id="fmt" method="POST" enctype="multipart/form-data">
            {%csrf_token%}
            <div class="row">
              <div class="col-3">
                <label>CSV file:</label>
              </div>
              <div class="col-5">
                <input type="file" accept=".csv" class="form-control-file" 
                  id="csv_file" name="csv_file" onchange="previewImport()">
              </div>
            </div>            
          </form>

          <form id="fmt2" style="display: none;" method="POST" action="/_admin/organizations/import">
            {%csrf_token%}
            <label>Select the CSV column you want to use the data from for each field.</label>
            <div id="fmt2Body"></div>
            <button type="submit" class="mt-3 btn btn-secondary">
              Import
            </button>
          </form>
        </div>       
      </div>
    </div>
  </div>

  <div class="modal fade" id="deleteConfirmModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete this Organization?</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <form id="fmt3" method="POST">
            {%csrf_token%}
            <input type="hidden" id="orgId">
            <div class="row">
              <div class="col"><label>Please enter your password to confirm:</label></div>
            </div>
            <div class="row mt-2">
              <div class="col"><input class="form-control" type="password" id="password" name="password"></div>
            </div>
            <div class="row mt-2">
              <div class="col"> 
                <label  id="errorLabel" style="color: red;"></label>
              </div>
            </div>            
            <button type="button" onclick="deleteOrganization()" class="mt-3 btn btn-danger">Delete</button>
         </form>
        </div>       
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {
  $('#table').DataTable({
    "ordering": false,
    "processing": true,
    "serverSide": true,
    "ajax": "/api/organization/search",
    "columns": [
      { "data": "name" },
      { "data": "userCount" },
      { "data": "admin.name" },
      { "data": "admin.email" },
      { "data": "deviceCount" }, 
      { "data": "status", "render": function(data, type, row) {
          return row.status == 1? "Active": "Pending"
        } 
      },     
      {
        render: function (data, type, row) {
          var html =  `<a title="Edit" href="/_admin/organizations/update/${row['id']}"><i class="fas fa-edit"></i></a>&nbsp;&nbsp;`
                     + `<a title="Delete" href="#" onclick="openDeleteConfirmation(${row['id']})" ><i class="fas fa-trash" style="color:red"></i></a>`;

          if(row.status == 0) {
            html += `&nbsp;&nbsp;<a title="Resend invitation email" href="#" onclick="resendMail(${row['id']})" ><i class="fas fa-envelope"></i></a>`;
          }
          
          return html;          
        }
      }
    ],
  })
});

function openDeleteConfirmation(id) {
  $('#password').val('');
  $('#orgId').val(id);
  $("#deleteConfirmModal").modal();
  return;
}

async function deleteOrganization() {
  $("#errorLabel").html('');
  var formData = new FormData(document.getElementById("fmt3"));
  var response = await fetch("/api/organization/delete/" + $('#orgId').val(), {
    body: formData,
    method: "POST"
  });
  var result = await response.json();
  if(result.success) {
    location.href = "/_admin";
  }else {
    $("#errorLabel").html(result.error || "Error occurred");
  }
}

async function resendMail(id) {
  if (confirm('Resend an invitation email to this organization?')) {
    location.href = "/_admin/organizations/resend_mail/" + id;
  }
}

function showImportModal() {
  $("#csv_file").val("");
  $("#fmt").show();
  $("#fmt2").hide();
  $("#uploadModal").modal();
}

function createOptionsPanel(header, csvHeader) {
  return header.map((column, i) => 
    (
      `<div class="row mt-3">
        <div class="col-3">
          <label>${header[i]}</label>
        </div>
        <div class="col-5">
          <select name="col_${i}" class="form-control">` +
              csvHeader.map((col, j) => 
                (
                  `<option value="${j}" ${i==j?'selected':''}>
                    ${csvHeader[j]}
                  </option>`
                )
              ).join('') +
          `</select>
        </div>
      </div>`  
    )
  ).join('');  
}

async function previewImport() {
  var formData = new FormData(document.getElementById("fmt"));
  var response = await fetch("/_admin/organizations/import_preview", {
    body: formData,
    method: "POST"
  });
  var result = await response.json();
  $("#fmt2Body").html(createOptionsPanel(result.header, result.csvHeader));
  $("#fmt").hide();
  $("#fmt2").show();
}
</script>
{% endblock %}