<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<title>tracdisc Report</title>
<div class="container">
  <div class="text-center mt-3"><h2>tracdisc Report</h2></div>
  <table class="table">
    <thead>
      <tr>
        <th>Location</th>
        <th>Date/Time</th>
        <th>User</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>6 Fleetwood Road, Sutton Coldfield, Manchester, SW87HF</td>
        <td>02/06/2020 17:34:39</td>
        <td>Tung DT</td>
      </tr>
      <tr>
        <td>123 Westwood Avenue, Springfield, London, B108HF69</td>
        <td>02/06/2020 17:27:30</td>
        <td>Tung DT</td>
      </tr>
    </tbody>
  </table>
</div>