{% extends "../base.html" %}
{% load i18n %}

{% block sidebar %}
{% with group=3 page=6 %}
{{ block.super }}
{% endwith %}
{% endblock %}

{% block content %}
<div class="content p-3">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">{% trans "system.parameters" %}</h6>
    </div>
    <div class="card-body">
      {%if saved%}
      <span class="badge badge-success mb-3">{% trans "parameters.successfully.saved" %}!</span>
      {%endif%}
      <form method="POST">
        {% csrf_token %}
        <table class="table">
          <tbody>
            {% for param in params %}
            <tr>
              <th style="width:40%">{{param.name}}:</th>
              <td>
                <input type='{{param.type}}' value='{{param.value}}' 
                  {%if param.min or param.min == 0 %} min='{{param.min}}' {%endif%}
                  {%if param.max %} max='{{param.max}}' {%endif%}
                  {%if param.maxLength %} maxlength='{{param.maxLength}}' {%endif%}
                  class="form-control" name='{{ param.key }}'>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>    
        <button type="submit" class="btn btn-sm btn-primary">
          <i class="fas fa-save text-white-50"></i> {% trans "save" %}
        </button>
      </form>
    </div>
  </div>  
</div>
{% endblock %}